@font-face {
  font-family: 'Source Code Pro Custom', monospace;
  src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);
}

:root > * {
  --md-default-bg-color: #FFFFFF;
  --md-code-bg-color: #2E3440;
  --md-code-fg-color: #FFFFFF;
  --md-text-font-family: "Inter";
  --md-code-font: "Source Code Pro Custom";
  --md-default-fg-color--light: #D8DEE9;
  --md-default-fg-color--lighter: #E5E9F0;
  --md-default-fg-color--lightest: #ECEFF4;
}

.index-pre-code {
  max-width: 700px;
  left: 50%;
}

.index-pre-code pre>code {
  text-align: left;
}


.md-typeset pre>code {
  border-radius: .2rem;
  box-shadow: 10px 5px 5px #D8DEE9;
}

.md-typeset p > code {
  background: #ECEFF4;
  color: #000000;
  font-weight: 500;
}

.md-typeset strong > code {
  background: #ECEFF4;
  color: #000000;
  font-weight: 500;
}

.md-content p > code {
  background: #ECEFF4;
  color: #000000;
  font-weight: 500;
}

.md-typeset td > code {
  background: #ECEFF4;
  color: #000000;
  font-weight: 500;
}

.md-typeset li > code {
  background: #ECEFF4;
  color: #000000;
  font-weight: 500;
}

.md-typeset code {
  font-weight: 500;
}

.md-typeset pre {
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.language-python {
  background: #FFFFFF ! important
}

.language-bash {
  background: #FFFFFF ! important
}

.language-toml {
  background: #FFFFFF ! important
}

h1.title {
  color: #FFFFFF;
  margin: 0px 0px 5px;
}

h2.subtitle {
  margin: 5px 0px 25px;
}

.md-typeset {
  line-height: 24px;
  font-weight: 400;
}

.md-typeset h1 {
  font-weight: bold;
  color: #000000;
}

.md-typeset h2 {
  font-weight: bold;
  color: #000000;
}

span.md-ellipsis {
  color: black;
}

.md-nav__link--active {
  background-color: #ECEFF4;
}

.md-typeset ol li {
  margin-bottom: .1rem;
}

.md-typeset ul li {
  margin-bottom: .1rem;
}
